@page "{code?}"
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<style>
    div{
        margin-top: 2.5vh;
        width: 95%;
    }
    @@media only screen and (min-width: 960px) {
        body{
            height: 85vh;
        }
        div{
            margin-top: 0;
            width: auto;

        }
    }
</style>
<div>
    @switch(Model.Code){
        case 401:
            <h1>Authentication Needed</h1>
            <p>Kindly authenticate yourself <a href="/admin/signin">here</a>.</p>
            break;
        case 403:
            <h1>Forbidden access</h1>
            <p>You are not allowed to access this content.</p>
            break;
        case 404:
            <h1>Content not found</h1>
            <p>Looks like what you're trying to access does not exists.</p>
            break;
        default:
            <h1>Error</h1>
            <p>Kindly contact your administrator for support.</p>
            break;
    }
</div>