<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <style>
        html{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 1.05rem;
        }
        body{
            margin: 0;
            padding: 0;
            height: auto;
            width: 100vw;
        }
    </style>
</head>
<body>
    <header>
        <h1>Warranty Management</h1>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
            </ul>
        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <footer>
    </footer>
</body>
</html>